<?xml version="1.0" encoding="UTF-8"?>

<!--
 ~ Copyright (c) 2011 Sonatype, Inc.
 ~ All rights reserved. This program and the accompanying materials
 ~ are made available under the terms of the Eclipse Public License v1.0
 ~ which accompanies this distribution, and is available at
 ~   http://www.eclipse.org/legal/epl-v10.html
-->

<?eclipse version="3.2"?>
<plugin>
   <extension point="org.eclipse.m2e.core.projectConfigurators">
      <configurator
            class="org.sonatype.m2e.webby.internal.build.WebbyProjectConfigurator"
            id="org.sonatype.m2e.webby.projectConfigurator"
            name="%projectConfigurator.name">
      </configurator>
   </extension>

   <extension point="org.eclipse.m2e.core.lifecycleMappingMetadataSource">
   </extension>

   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            delegate="org.sonatype.m2e.webby.internal.launch.WebbyLaunchDelegate"
            id="org.sonatype.m2e.webby.launchConfigType"
            modes="run, debug"
            name="%launchConfigType.name"
            delegateDescription="%launchConfigType.description"
            migrationDelegate="org.sonatype.m2e.webby.internal.launch.WebbyLaunchDelegate"
            sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"                                  
            sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">            
      </launchConfigurationType>
   </extension>

   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.sonatype.m2e.webby.launchConfigType"
            icon="icons/webby.gif"
            id="org.sonatype.m2e.webby.launchConfigTypeImage">
      </launchConfigurationTypeImage>
   </extension>
   
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.sonatype.m2e.webby.internal.launch.ui.WebbyLaunchConfigurationTabGroup"
            id="org.sonatype.m2e.webby.launchConfigTabGroup"
            type="org.sonatype.m2e.webby.launchConfigType">
      </launchConfigurationTabGroup>
   </extension>

   <extension point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            class="org.sonatype.m2e.webby.internal.launch.ui.WebbyLaunchShortcut"
            icon="icons/webby.gif"
            id="org.sonatype.m2e.webby.launchShortcut"
            label="%launchShortcut.label"
            modes="run,debug">
         <contextualLaunch>
            <contextLabel label="%launchShortcut.label.run" mode="run"/>
            <contextLabel label="%launchShortcut.label.debug" mode="debug"/>
            <enablement>
               <with variable="selection">
                  <count value="1"/>
                  <iterate>
                     <test property="org.sonatype.m2e.webby.isWebApp" forcePluginActivation="true"/>
                     <adapt type="org.eclipse.core.runtime.IAdaptable"/>
                  </iterate>
               </with>
            </enablement>
         </contextualLaunch>
      </shortcut>
   </extension>
   
   <extension point="org.eclipse.jdt.launching.classpathProviders">
      <classpathProvider 
          id="org.sonatype.m2e.webby.sourcepathProvider"
          class="org.sonatype.m2e.webby.internal.launch.WebbySourcePathProvider"/>
   </extension>

   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
           id="org.sonatype.m2e.webby.WebbyPropertyTester"
           class="org.sonatype.m2e.webby.internal.WebbyPropertyTester"
           namespace="org.sonatype.m2e.webby"
           properties="isWebApp"
           type="org.eclipse.core.runtime.IAdaptable"/>
   </extension>

   <extension point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="org.sonatype.m2e.webby.viewCategory"
            class="org.sonatype.m2e.webby.internal.view.WebbyView"
            icon="icons/webby.gif"
            id="org.sonatype.m2e.webby.webApps"
            name="%view.name"
            restorable="true">
      </view>
      <category 
         id="org.sonatype.m2e.webby.viewCategory" 
         name="%view.category.name"/> 
   </extension>
  
</plugin>
